/* Resume */
.HeaderItems{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 0px;
}

.CVlist{
    list-style: none;
    margin: 5px;
    padding: 3px 5px;
    background-color: #fff;
    color: #002c3e;
    border: 1px solid #002c3e;
    border-radius: 5px;
    transition-duration: 0.5s;
    cursor: pointer;
    font-size: 12pt;
    font-family: BravaSlabBold;
    /* font-weight: bold; */
}

.CVlist:hover{
    background-color: #78bcc4;
    color: #fff;
    padding-right: 3px;
}

.CVlist.activated{
    background-color: #f7444e;
    color: #fff;
    padding-right: 3px;
    transition: all 0.8s
}

.CVData.hide{
    display: none;
    overflow: hidden;
    height: 0px;
}

.CVData.active:before,.CVData.active:after {
    content:'';
    display: none;
}

/* ----------------------------------------- */

.Event{
    width: 15px;
    height: 15px;
    position: relative;
    margin: 0px;
    border-spacing: 0px;
    border-radius: 15px;
    border: 2px solid #009999;
    background-color: #000;
    color: #fff;
    font-family: BravaSlabBold;
    /* vertical-align: text-top; */
    line-height: 13px; 
    text-align: center; 
    font-size: 9pt;
}

.ToggleBtn{
    width: 20px;
    height: 20px;
    margin: 0px;
    border-radius: 20px;
    border: 3px solid #009999;
    background-color: #000;
    cursor: pointer;
    line-height: 16px;
    font-family: BravaSlabBold;
    font-size: 14pt;
    text-align: center;
    color: #fff;
}

.ExpAll{
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    width: 150px;
    caret-color: transparent;
}

#ExpAllTxt{
    margin-right:5px; 
    margin-top: 2px; 
    font-family: BravaSlabBold;
}

.ToggleBtn:hover{
    background-color: #009999;
    color: #fff;
    border-color: #000;
}

.ToggleBtn:active{
    background-color: #F7444E;
}

.ToggleBtn:after {
    /* content: '▶'; */
    content: '>';
    line-height: 13px; 
}
  
.ToggleBtn.Expanded:after {
    /* content: "▼"; Unicode character for "minus" sign (-) */
    content: '-';
    line-height: 20px; 
}


.subEventPoint{
    width: 13px;
    height: 13px;
    position: relative;
    top: -2px;
    border-spacing: 0px;
    border-radius: 15px;
    border: 4px solid #fff;
    background-color: rgb(140, 140, 140, 0.5);
}

#EventLine{
    position: relative;
    margin: 0px;
    transform: translate(50%, 5px);
    left: -7%;
    height: calc(100% - 20px);
    border-left: 1px solid rgb(140, 140, 140, 0.5);
}

/* ----------------------------------------- */

/* -----------------------------------------*/
#SubEvent{
    width: 15px;
    /* height: 100%; */
    margin: 0px;
    position: relative;
    display:inline-block;
}

#subEventLine{
    position: relative;
    margin: 0px;
    width: 10px;
    transform: translate(50%, 5px);
    left: 20%;
    height: calc(100% - 20px);
    border-left: 1px solid rgb(140, 140, 140, 0.5);    
}

/* -----------------------------------------*/
.collapsible{
    cursor: pointer;
    margin-top: -2px;
    caret-color: transparent;
}

.collapsible:hover{
    background-color: #009999;
    color: #fff;
    border-color: #000;
    caret-color: transparent;
}

.collapsible:active{
    background-color: #F7444E;
    caret-color: transparent;
}

.collapsible:after {
    /* content: '▶'; */
    /* content: '>'; */
    line-height: 13px; 
    caret-color: transparent;
}
  
.active:after {
    /* content: "▼"; Unicode character for "minus" sign (-) */
    /* content: '-'; */
    line-height: 5px; 
    caret-color: transparent;
}

.subPeriod{
    font-family: BravaSlabExtraLight;
    font-size: 12pt;
    color: #F7444E;
    padding-left: 15px;
    margin: 0px;
    position: relative;
    display:inline-block;
    font-weight: bold;
    /* to collapse */
    /* height: 0px; */
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    /* ----------- */
    width: calc(100% - 30px);
    top: -4px;
}

#subEventDetails{
    position: relative;
    width: calc(100% - 20px);
    margin-top: 0px;
}

#TitleOfSubDetails{
    display:inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#SubDetailsTitle{
    position: relative;
    float: left;
    text-align: left;
    padding-left: 10px;
    font-family: BravaSlabRegular;
    font-size: 11pt;
    color: gray;
    top :-5px;
    margin: 0px;
    margin-left: 5px;
    /* width: 75%; */
    float: left;
    width: 100%;
}

#subDetails{
    position: relative;
    display:flex;
    width: 100%;
    /* height: max-content; */
    margin: 0px;
    margin-top: 10px;
    float: left;
}

.Objects{
    margin-top: 0px;
    /* margin-bottom: 3px; */
    /* to collapse */
    /* height: 0px; */
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    /* ----------- */
}

#CompanyLogo{
    position: relative;
    float: right;
    width: 20% ;
    max-width: 80px;
    min-width: 50px;
    padding-right: 10px;
}

#Complogo{
    position: relative;
    width: 100% ;
    max-width: 80px;
    top: 55px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* #Space{
    width: 5%;
} */

/* #Space{
    width: 0%;
} */

/* #seeMore{
    width: 20%;
    position: relative;
    float: right;
} */

#mid{
    width: 4%;
    max-width: 20px;
    padding: 0px;
    vertical-align: top;
}

.vl {
    border-left:1px solid #b3b3b3;
    padding: 0px;
    margin: 0px;
    position: relative;
    left: 50%;
}

/* #UniLogo{
    width: 65px;
} */

/* .Bar{
    width: 200px; 
    height: 10px;
    background-color: #b3b3b3;
    border:2px solid #b3b3b3; 
} */

/* .Degree{
    -moz-animation: Load 2s ease-out;
    -webkit-animation: Load 2s ease-out;
    animation: Load 2s ease-out;
    height: 100%;
    background-color: #009999;
} */

/* .Ticks {
    color: orange;
} */