#expMainInfo{
    display: flex;
    position: relative;
    float: right;
    width: 50% ;
}

#Experience{
    position: relative;
    width: 100%;
    transform: translate(-50%, 0);
    left: 50%;
    display: flex;
    margin-top: 15px;
}

#ExpTitles{
    position: relative;
    float: right;
    width: 100% ;
    /* max-width: 500px; */
    text-align: right;
    padding-right: 10px;
    font-family: BravaSlabRegular;
}

.workingPeriod{
    font-family: BravaSlabExtraLight;
    font-weight: bold;
    font-size: 12pt;
    margin: -2px 0px;
    color: #F7444E;
}

.Date{
    display: inline-block;
}

#est{
    font-weight: normal;
    font-size: 11pt;
    color: #000;
}

#present {
    width: 65px;
    clip-path: polygon(11% 5%, 97% 5%, 100% 11%, 100% 89%, 97% 95%, 11% 95%, 8% 89%, 8% 70%, 0% 50%, 8% 30%, 8% 11%);
    background-color: #009999;
    color: #fff;
    text-align: right;
    padding-right: 4px;
}

#CompanyLink{
    color: #002C3E;
}

#Jobtitle{
    margin-top: 10px;
}

#WorkAddress, #ConfAdress{
    margin: 0;
    /* margin-bottom: 20px; */
    font-family: BravaSlabSemiBold;
    color: #000;
}

#ExpDetails{
    position: relative;
    float: left;
    width: 50% ;
    --max-lines: 3;
    max-height: calc(var(--lh) * var(--max-lines));
    /* max-width: 500px; */
    text-align: left;
    padding-left: 10px;
    font-family: BravaSlabRegular;
    font-size: 11pt;
    color: gray;
    top :-5px;
}

/* ========================================== */
#ConfDetails{
    position: relative;
    display:flex;
    width: 100%;
    /* height: max-content; */
    margin: 0px;
    float: left;
}

.description{
    margin: 0px;
}

#ConfLine{
    position: relative;
    margin: 0px;
    width: 10px;
    transform: translate(50%, 5px);
    left:28%;
    top: -7px;
    height: 100%;
    /* height: calc(100% - 5px); */
    border-left: 1px solid rgb(140, 140, 140, 0.5);
}

.ConfDate{
    font-family: BravaSlabExtraLight;
    font-size: 12pt;
    color: #F7444E;
    padding-left: 15px;
    margin: 0px;
    position: relative;
    display:inline-block;
    font-weight: bold;
    width: calc(100% - 30px);
    top: -4px;
}

.ConferencesContent{
    margin: 0px;
    /* to collapse */
    /* height: 0px; */
    display: flex;
    overflow: hidden;
    max-height:0px ;
    transition: max-height 0.2s ease-out;
    /* ----------- */
}

#ConfAdress{
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    /* margin: 0px; */
    margin-left: 7px;
    top :-5px;
    padding-left: 8px;
}

.ConferenceEvent{
    position:relative;
    left: -28px;
}

#TalkTitle{
    position: relative;
    float: left;
    width: 100%;
    margin: 0px;
    font-family: BravaSlablight;
    margin-left: 7px;
    top :-5px;
    font-size: 12pt;
    padding-left: 7px;
    color: #002C3E;
    font-style: italic
}

.PublicationsContent{
    position: relative;
    display:flex;
    width: 100%;
    margin: 0px;
    float: left;
}

.PublicationsContent{
    margin: 0px;
    /* to collapse */
    /* height: 0px; */
    display: none;
    overflow: hidden;
    max-height:0px ;
    transition: max-height 0.2s ease-out;
    /* ----------- */
}

.PubAPA{
    margin: 0px 5px;
    padding-top: 0px;
    margin-left: 5px;
    font-size: 12pt;
    width: 100%;
    position: relative;
}

.PubBibtex{
    display: none;
    border: 1px solid rgb(140, 140, 140, 0.5);
    font-family: monospace;
    white-space: pre-line;
    background-color: #f1f3e1;
    margin: 0px 5px;
}

.BibtexButton{
    display: inline-block;
    position: relative;
}

#jobSummary{
    margin-top: 0;
    margin-bottom: 0px;
}

#SubTitleEx{
    font-size: 11pt;
    text-decoration: underline;
    margin-bottom: 1px;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

#Skill{
    font-family: BravaSlabRegular;
    padding-right: 10px;
}

#RatedSkills{
    border-right: 1px solid rgb(140, 140, 140, 0.5);
    width: 50%;
}

#SkillsGroup {
    position: relative;
    width: 100%;
    min-width: 250px;
    transform: translate(-50%, 0);
    left: 50%;
    display: flex;
    margin-top: 15px;
}

#SkillTitle{
    position: relative;
    float: right;
    width: 50% ;
    /* max-width: 500px; */
    text-align: right;
    padding-right: 10px;
    font-family: BravaSlabRegular;
    font-size: 14pt;
}

.SkillsUndertitle{
    position: relative;
    float: left;
    width: 50% ;
    min-width: 120px;
    /* --max-lines: 3;
    max-height: calc(var(--lh) * var(--max-lines)); */
    /* max-width: 500px; */
    text-align: left;
    padding-left: 10px;
    font-size: 11pt;
    color: gray;
    top :-5px;
}

.SkillsSummary{
    position: relative;
    margin-top: 3px;
    margin-right: 5px;
    float: left;
    font-family: BravaSlabRegular;
    /* width: 100px; */
}

.SkillsDegree{
    position: relative;
    /* float: left; */
    width: calc(100% - 125px);
    display:none;
    margin: 0px;
    /* to collapse */
    /* height: 0px; 
    display: flex;*/
    overflow: hidden;
    max-height:0px ;
    /* ----------- */
}

.circle{
    width: 12px;
    height: 12px;
    float: left;
    position: relative;
    margin-left: 15px;
    margin-top: 6px;
    border-spacing: 0px;
    border-radius: 12px;
    border: 1px solid #000;
    color: #fff;
    /* vertical-align: text-top; */
    line-height: 13px; 
    /* text-align: center;  */
    font-size: 9pt;
}

.Ok{
    background-color: #009999;
    -webkit-box-shadow:0px 0px 8px 3px rgba(45,255,196,0.47);
    -moz-box-shadow: 0px 0px 8px 3px rgba(45,255,196,0.47);
    box-shadow: 0px 0px 8px 3px rgba(45,255,196,0.47);
}
.No{
    background-color: gray;
}

.OtherSkills{
    position: relative;
    margin-top: 3px;
    margin-right: 5px;
    float: left;
    font-family: BravaSlabRegular;
    font-size: 10pt;
    display: flex;
}

.activity{
    max-width: 800px;
    border: 1px solid rgb(140, 140, 140, 0.5);
    border-radius: 20px;
    position: relative;
    width: 90%;
    transform: translate(-50%, 0);
    left: 50%;
    display: flex;
    margin-top: 15px;
    padding: 20px;
    flex-direction: row;
    /* height: max-content; */
}

.Img-container{
    display: flex;
    width: 40%;
    border-radius: 10px 0px 0px 0px;
    /* height: 100%; */
}

.ActivImg{
    position: relative;
    display: block;
    width: 100%;
    /* height: calc(100% - 27px); */
    object-fit: cover;
    border-radius: 7.5px 0px 0px 0px;
    cursor:pointer;
}

.ActivImg-txt{
    display: block;
    position: relative;
    padding: 5px;
    width: calc(100% - 10px);
    background-color: rgba(0,0,0,0.5);
    right: calc(60%px);
    color: #fff;
    border-radius: 0px 0px 0px 7.5px;
    font-size: 12pt;
}

.ActivImgBtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    z-index: 2;
    width:35px;
}

.Activ-details{
    width: 60%;
}

.ActivDate{
    font-family: BravaSlabExtraLight;
    font-weight: bold;
    font-size: 12pt;
    margin: -2px 0px;
    color: #F7444E;
    float: left;
    width: 100%;
    display: flex;
    margin-left: 5px;
}

.ActivTitle{
    font-family: BravaSlabSemiBold;
    display: flex;
    font-weight: bold;
    font-size: 12pt;
    margin: -2px 0px;
    color: #000;
    float: left;
    width: 100%;
    margin-left: 5px;
}

.Activ-Discrp{
    position: relative;
    float: left;
    --max-lines: 3;
    max-height: calc(var(--lh) * var(--max-lines));
    text-align: left;
    font-family: BravaSlabRegular;
    font-size: 11pt;
    color: gray;
    top :-5px;
    margin-left: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.points{
    padding-left:  30px;
}

.Activ-imgs{
    display:'block';
    height: 100%;
}

.ActivButtonStyle{
    margin: 3px;
    margin-top: 5px;
    padding: 3px 3px;
    min-width: 30px;
    height: 30px;
    background-color: #fff;
    color: #002c3e;
    border: 1px solid #002c3e;
    border-radius: 5px;
    transition-duration: 0.5s;
    cursor: pointer;
    font-size: 12pt;
    font-family: BravaSlabBold;
}

.ActivButtonStyle:hover{
    background-color: #78bcc4;
    color: #fff;
}

.ActivButtonStyle.activated{
    background-color: #f7444e;
    color: #fff;
    padding-right: 3px;
    transition: all 0.8s
}

.demoButtons{
    display: inline;
}

.buttonRed{
    background-color: #F7444E;
    color: #fff;
}


